<h1>Défis réalisés</h1>
<p>Voici la liste des défis réalisés sur ce site, si vous les trouvez trop cool, vous pouvez visiter la page des <a href='http://localhost:3000/static_pages/defisarealiser'> défis à réaliser</a>.</p>
