<h1>Besoin d'aide ?</h1>
<p>Si vous avez besoin d'aide, demandez à Alexandre Pascault. Sinon rejoignez la <a href="http://localhost:3000/static_pages/home">page d'accueil</a>, vous n'avez rien à faire là.</p>
