<h1>Do it Cash it</h1>
<p>Cette page est destinée à accueillir la page d'accueil du célèbre site <a href="http://localhost:3000/static_pages/home"> Do it Cash it</a>. Elle ne restera pas blanche très longtemps. Si vous avez besoin d'aide, visitez <a href="http://localhost:3000/static_pages/help"> Besoin d'aide ?</a>.</p>
